/* @keyframe animation_name(here it is example)
    animation-name:example;
    animation-duration:5s;
    animation-delay:2s;
    animation-iteration-count:number/infinite;
    animation-direction:normal/reverse/alternate/alternate-reverse;
    animation-timing-function:
*/
.d1
{
    animation-name:example;
    animation-duration:15s;
    animation-delay:1s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-timing-function:ease-in;
    height: 200px;
    width: 200px;
    background-color: blue;
    border-radius: 50px;
    margin:50px auto;
}
@keyframes example {
    0%{background-color: blue;}
    20%{background-color: yellow;
    border-radius: 70px;}
    40%{
        background-color: red;
        border-radius: 100px;
    }
    60%{
        background-color: purple;

    }
    80%{
        background-color: green;

    }
    100%{
        background-color: orange;

    }
}