/* syntax: 
    display:inline-block,inline,block,none
*/
.d1 div{ 
    /* Height & width will not work in following cause of display:inline */
    display: inline;
    padding: 20px;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    border:3px solid black;
    background-color: lightblue;
    color:black;
    font-family: fantasy;
    font-style: italic;
    font-size: 18px;
}
.d2 div{
    /* Height & width will work in following cause of display:inline-bock */
    display: inline-block;
    padding: 20px;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    border:3px solid black;
    background-color: lightblue;
    color:black;
    font-family: fantasy;
    font-style: italic;
    font-size: 18px;
}
.d1 div:nth-child(2)
{
    /* Will remove content 2 */
    display: none;
}
.d3 span
{
    display: block;
    width:500px;
    height:200px;
    margin: 10px auto;
    border:2px solid brown;
    border-radius:30px;
    padding:20px;

}