.container{
    display: flex;
}
nav{
    background: lightcoral;
    padding: 10px;
    width: 40%;
    display: flex;
    justify-content: center;
    gap:50%;
    
}
section{
    background: lightblue;
    padding: 10px;
    text-align: center;
    width:60%;
}
.i2{
    display: none;
}
.i1{
    width: 150px;
    height: 150px;
}
@media (max-width:500px)  {
    nav{
        order:-1;
    }
    .container{
        flex-direction: column;
    }
    nav,section{
        width: 100%;
    }
    .i2{
        display: block;
    }
    .i1{
        display: none;
    }
}