.d1{
    display: flex;/*inline-flex*/
    background-color: gray;
    padding: 15px;
    flex-direction: row;/*row-reverse/column/column-reverse*/
    gap:10px;
    justify-content: space-around;/*space-between,space-around,space-evenly,start,end,center*/
    align-items: flex-end;/*puts content vertically according to given args (*requires height*)
    possible values:flex-end/flex-start/center
    */
    height: 500px;
    flex-wrap: wrap;/*wrap,nowrap,wrap-reverse*/
}
.box{
    background-color: navy;
    color:wheat;
    padding: 20px;
    text-align: center;
    width: 200px;
    border-radius: 40px;
}
/* Following will make changes in Box 2 */
.box:nth-child(2)
{
     order: 1;
     /* Possible values: */
     /* 0,-1,1 */
    background-color: yellow;
     flex:1 -10 150px 
    /* flex:1 1 100px; */
}