body{
    background-color: white;
}
.i1
{
    width:300px;
    height:300px;
    border-radius: 20px;
    padding:20px;
    background-color: pink;
    border:6px solid lightblue;
    padding: 30px;
}
.i2
{
    width:300px;
    height:300px;
    border-radius: 5px;
    padding:20px;
    border:3px solid black;
}
.i3
{
    width:900px;
    height:600px;
    opacity: 0.3;
    border:3px solid red;
}
.i4
{
    max-width: 100%;
    height:auto;
    width:1900px;
    height:500px;
}