body{
    background-color: lightblue;

}
h1{
    color :red; 
    text-align:center;
    font-size:60px;

}
@media screen and (min-width:400px) and (max-width:800px) {
    body{
        background-color: pink;

    }
    h1{
        color:blue;
        font-size:40px;
    }

}
@media screen and (max-width:400px) {
    body{
        background-color: orange;

    }
    h1{
        color:cadetblue;
        font-size: 20px;
    }
}
/* @media not (orientation:landscape){
    h1{
        text-decoration: underline;
        color: pink;

    }
    body{
        background-color: red;
    }
} */