.news
{
    column-count: 4;
    column-gap: 10px;
    column-rule-style: dotted;
    column-rule-color:blue;
    column-rule-width:8px;
    text-align: justify;
    /* shorthand: 
        colum-rule:width style color
    */
}
