/* 
    color:hex,RGB,name;
    text-algin:left/right/center/start/end;
    text-indent:px,%,em;
    text-transform:none/capitalized/uppercase/lowercase;
    text-decoration:underline/overline/line-through/none/underline overline;
    letter-spacing:px/normal/em;
    word-spacing:px/em/normal;
    line-height:normal/em/px
    text-shadow:h-shadow v-shadow blur color,5px 5px 2px blue;
*/
.underline
{
    font-size: 60px;
    text-decoration: underline;
    color:purple;
    text-align:left;
    text-transform:capitalize;
    text-indent: 60px;
    letter-spacing: 3px;
    word-spacing: 10px;
    text-shadow:10px 20px 10px yellow;
    line-height: 3;
}
.overline
{
    font-size: 60px;
    text-decoration: overline;
    color:purple;
    text-align:left;
    text-transform:uppercase;
    text-indent: 60px;
    letter-spacing: 3px;
    word-spacing: 10px;
    text-shadow:10px 20px 10px yellow;
    line-height: 3;
}
.linethrough
{
    font-size: 60px;
    text-decoration: line-through;
    color:purple;
    text-align:left;
    text-transform:uppercase;
    text-indent: 60px;
    letter-spacing: 3px;
    word-spacing: 10px;
    text-shadow:10px 20px 10px yellow;
    line-height: 3;
}
.combined
{
    font-size: 60px;
    text-decoration: line-through overline underline;
    color:purple;
    text-align:left;
    text-transform:uppercase;
    text-indent: 60px;
    letter-spacing: 3px;
    word-spacing: 10px;
    text-shadow:10px 20px 10px yellow;
    line-height: 3;
}