/* 
    translate(x,y)
    translate(n)
    translate(n)
    rotate(angle)
    scale(x,y)  scale(-1) or scale(-1,-1)  will give complete mirror image
    scaleX(n)  if you use scaleX(-1) it will give horizontal mirror image
    scaleY(n)
    skew(x,y) 
    skewX(n)
    skewY(n)
    transition-property:all/property/prop1....propn   default value is all
    transition-duration:5s/500ms                      default value is 0s
    transition-delay:s/ms
    transition-timing-function:ease/ease-in/ease-out/ease-in-out/linear
    linear-->same speed but smooth
    ease-->starts slow,speeds up,slow down
    ease-in-->starts slow speed up
    ease-out-->starts fast,slow down

    shorthand: 
        transition:property duration timing delay
*/
.d1{
    margin: 100px auto;
    width:150px;
    height:150px;
    border-radius: 50px;
    font-size: 30px;
    border: 2px solid black;
    background-color: yellow;
    text-align: center;
    padding:20px;

    transition-property: transform,background-color,border-radius;
    transition-duration: 10s,5s,3s;
    transition-delay:2s ;
    transition-timing-function: ease-in;
}
.a1,.a2
{
    height: 200px;
    width:200px;
    display: block;
    padding:20px;
    border:3px solid red;
    margin:50px auto;
    transition-property: transform,background-color,border-radius;
    transition-duration: 10s,5s,3s;
    transition-delay:2s ;
    transition-timing-function: ease-in;
}
.d1:hover
{
    transform: translate(50px,150px); /*transform:translateX(50px);transform:translateY(50px) */
    background-color: yellow;
    padding:30px;
    border-radius: 60%;
    border:8px dotted orange;
    transform: rotate(900deg);
}
.a1:hover
{
    transform:scale(2,2) rotate(900deg) ; /*transform:scaleX(2);transform:scaleY(2) */
    background-color: yellow;
    padding:30px;
    border-radius: 60%;
    border:8px dotted orange;
    /* transform: rotate(80deg); */
}
.a2:hover
{
    /* transform:scale(-1); transform:scaleX(-1);transform:scaleY(-1) */
    transform: skew(800deg,8000deg) ;
    background-color: yellow;
    padding:30px;
    border-radius: 60%;
    border:8px dotted orange;
    box-shadow: 10px 10px 20px black;
    /* transform: rotate(80deg); */
}