:root{
    --textblue:blue;
    --all:solid dotted dashed double;
    --textred:red;
    --p20:20px;
}
h1{
    --fs:50px;
    font-size: var(--fs);
    color:var(--textred);

}
h2{
    --textblue:lightblue;
    color:var(--textblue);
}
p{
    padding: var(--p20);
    color:var(--textblue);
    border-style:var(--all);
    border-width:8px;

}